.wrapper {
  margin: 50px 150px !important;
  background-color: #ffffff;
  padding: 150px;
  border-radius: 15px;
  margin-right: 150px;
  align-items: center;
}

.innerWrapper {
  margin: 0 auto;
  width: fit-content;
  color: #4e4e4e;
}

.input {
  width: 100%;
  color: black;
}

.switch {
  background-color: #7d848c;
  border-radius: 0.25rem;
  width: 100%;
  margin: 0.125rem 0.75rem;
  max-width: 18.75rem;
}

label {
  font-weight: bold;
}

.layout {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  margin: 0 auto 100px auto;
}

.layout h4 {
  display: none;
}

.next {
  margin-left: 100% !important;
}
.timePickerWrapper {
  background-color: #4c5059;
  border-radius: 30px;
  padding: 20px;
  margin: 15px;
}

.label {
  font-size: 48px;
  font-weight: 600;
  color: #000000;
  margin: 30px;
}
