.wrapper {
  margin: 50px 150px !important;
  background-color: #ffffff;
  padding: 150px;
  border-radius: 15px;
  margin-right: 150px;
  align-items: center;
}

.innerWrapper {
  margin: 0 auto;
  width: fit-content;
  color: #4e4e4e;
}

.webcam {
  margin: 20px auto;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.title {
  margin: 20px;
}

.canvas {
  width: 640px;
  height: 480px;
}
